-@posts.each do |post|
  =link_to ( image_tag( post.image.url(:small) ) ), post
  %h2= link_to post.title, post
  %p
    Posted
    =time_ago_in_words post.created_at
    ago
  %p.comment_count= pluralize( post.comments.size, 'Comment' )
  -if current_user == post.user
    %p
      = link_to 'Edit', [:edit, post]
      = link_to 'Delete', post, method: :delete, data:{ confirm:'Heads up! Delete?' }
